<ng-container *ngIf="hasRates(exchangeRates); else noRates">
  <header>
    <h1>Currency exchange service</h1>
    <h4>
      <span>Current rate: </span>
      <select id="currency" name="currency" (change)="updateCurrency($event)">
        <option
          *ngFor="let currency of exchangeRates | keyvalue"
          [value]="currency.key"
          [selected]="currency.key === selectedCurrency"
        >
          {{ currency.key }}
        </option>
      </select>
      <span> - {{ exchangeRates["UAH"] }} UAH</span>
      <div>Based on date: {{ today | customDateFormat }} 🗓️</div>
    </h4>
  </header>

  <app-exchange [exchangeRates]="exchangeRates" />
</ng-container>
<ng-template #noRates>
  <header>
    <h1>Oops, something went wrong...</h1>
    <h2>Please, try again later ⏳</h2>
  </header>
</ng-template>
