<form [formGroup]="form">
  <h2>Welcome on board!</h2>
  <p>Let's carry out some calculations 🚀</p>

  <div class="control-row">
    <div class="control">
      <label for="giveCurrency">You give</label>
      <currency-select
        id="giveCurrency"
        formControlName="giveCurrency"
        [exchangeRates]="exchangeRates"
      ></currency-select>
    </div>
    <div class="control">
      <amount-input formControlName="giveAmount" />
    </div>
  </div>

  <div>
    <i class="bi bi-arrow-down-up" (click)="swap()"></i>
  </div>

  <div class="control-row">
    <div class="control">
      <label for="getCurrency">You get</label>
      <currency-select
        id="getCurrency"
        formControlName="getCurrency"
        [exchangeRates]="exchangeRates"
      ></currency-select>
    </div>
    <div class="control">
      <amount-input formControlName="getAmount" />
    </div>
  </div>

  <p class="form-actions">
    <button type="button" class="button" (click)="reset()">Reset</button>
  </p>
</form>
